@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.header-color {
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background: linear-gradient(
    to top,
    #080808,
    #21262f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.avatar-img {
  height: 550px;
  margin-top: 65px;
  position: relative;
  animation-name: avatar;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes avatar {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}
a {
  text-decoration: none;
  color: rgb(218, 208, 159);
}
ul {
  padding: 0;
  list-style: none;
}
.footer-social-icons {
  width: 250px;
  display: block;
  margin: 0 420px;
  position: relative;
  animation-name: social-icons;
  animation-duration: 14s;
  animation-fill-mode: forwards;
}

@keyframes social-icons {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}

ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 20px;
  transition: 1s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
}
.fa-facebook:hover {
  transition: 1s;

  background-color: rgb(153, 122, 144);
  color: rgb(218, 208, 159);
  padding: 10px 40px;
}

.fa-linkedin {
  padding: 10px 20px;
  transition: 1s;
  background-color: rgb(90, 6, 139);
  color: rgb(218, 208, 159);
}
.fa-linkedin:hover {
  transition: 1.5s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
  padding: 10px 40px;
}

.fa-github {
  padding: 10px 14px;
  transition: 1s;
  background-color: rgb(218, 208, 159);
  color: rgb(153, 122, 144);
}
.fa-github:hover {
  transition: 1.75s;

  background-color: rgb(153, 122, 144);
  color: rgb(218, 208, 159);
  padding: 10px 40px;
}

.navbar-header-hrz {
  font-family: "Montserrat Subrayada", sans-serif;
  color: rgb(0, 0, 0) !important;
}

.header-color-vrt {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(15, 15, 12) !important;
}

.navbar-header-vrt {
  font-family: "Montserrat Subrayada", sans-serif;
  color: rgb(15, 15, 12) !important;
  background: rgb(255, 255, 255) !important;
}

.header-color {
  color: rgb(15, 15, 12) !important;
  font-family: "Great Vibes", cursive !important;
}

.navbar-header-vrt:hover {
  background-color: rgb(15, 15, 12) !important;
  color: rgb(153, 122, 144) !important;
}

.titleContainer {
  position: relative;
  margin-top: 300px;
  margin-left: 170px;
  --maskX: 0;
  --maskY: 50;
}
.titleContainer h1 {
  font-family: "Great Vibes", cursive !important;
  font-size: 75px;
  margin: 0;
}

.titleContainer hr {
  border-top: 1px dashed rgb(67, 48, 97);
  width: 70%;
  margin-left: 5%;
}

.titleWrapper {
  color: #f2dcca;
  cursor: pointer;
}

.cloneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(153, 115, 142);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(
    0 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,
    calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%,
    0 100%
  );
}

.name h3 {
  font-family: "Fredericka the Great", cursive !important;

  font-size: 49px;
  color: #d4c5b8;
  position: relative;
  margin: 0px 0px 0px 330px;
  animation: myname;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
@keyframes myname {
  0% {
    top: 0px;
    bottom: 0px;
  }
  100% {
    top: 280px;
  }
}

/* -------------Resume------------- */

#timeline{
  display: flex;
  background: linear-gradient(
    to top,
    #080808,
    #21262f
  );
 }

#timeline:hover .tl-item{
  width: 53%;
}

.tl-item{
transform: translate3d(0,0,0);
position : relative;
width: 25%;
height: 100px;
min-height: 400px;
max-height: 700px;
color: rgb(153, 102, 80);
overflow: hidden;
transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after{
  transform: translate3d(0,0,0);
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after{
  background: rgba(3,22,37,0, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tl-item:before{
  opacity: 0;
  background: rgba(131,173,181,0.3)
  ;
  border-radius: 10px;

  z-index: 1;
transform: translate3d(0,0,0)translateY(50%);
transition: opacity 0.5s ease,
transform 0.5s ease;

}

.tl-item:hover{
  width: 30% !important;
}

.tl-item:hover:after{
  opacity:0;
}

.tl-item:hover:before{
  opacity:1;
  transform: translate3d(0,0,0)  translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content{
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg{
  filter: grayscale(0);
}
.tl-content{
  transform: translate3d(0,0,0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 20px;
  top: 15%;
  opacity: 0;
}
.tl-content h6{
  font-family: 'Monoton', cursive
 !important;
 margin-top: -40px;
 margin-bottom: 10px;

  color:  #3aa2b7;
  font-size: 18px;
}

.tl-content p{
  color:  #907b79;
  text-shadow: 0 0 10px rgb(46, 37, 37);
  font-family: "Fredericka the Great", cursive !important;
  margin-top: 2px;
line-height: 1.8;
}
.tl-year{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;

}
.tl-year p{
color: rgba(75, 50, 3, 0.5);
}

.f2-heading{
  color: rgb(233, 116, 6)
  ! important;
  font-family: "Montserrat Subrayada", sans-serif;

}

.tl-bg{
  transition: translate3d(0,0,0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5se ease;
  filter: grayscale(100%);
}


.citation-education{
  background-color: rgb(211,211,211);
  font-family: "Fredericka the Great", cursive;
  color: rgb(29, 2, 2);
  font-size: 17px;
  text-align: center;
margin-top: 20px;
  height: 80px;
  width: 100%;
  border-radius: 1px;
}



.education{
  margin-top: 150px !important;
}


/*--Experience-------*/
.timeline-experience{
max-width: 500px;
margin: 0 auto;
}

  .timeline-experience-body{
position: relative;
margin-left: -180px;
opacity: 0.2px;
padding: 5px 0;
border-left: 2px solid #df9257;;

}

.timeline-experience-item {
position: relative;
}
.time-experience{
position: absolute;
left: -130px;
top:4px;
font-family: "Montserrat Subrayada", sans-serif;
color: rgb(233, 116, 6);
}

.time-experience-1{
content: ''; 
width: 20px;
height: 20px;
border-radius: 50%;
border: 1px solid #f3771e;
background-color: #df9257;
position: absolute;
top: 4px;
left: -12px;
z-index: 1;
  }

.content-experience{
margin: 40px;
padding-bottom:40px ;

}

.namejob-experience{
color:  #3aa2b7;
font-family: 'Monoton', cursive;
font-size: 15px;


}

.namebrand-experience{
  color: #f3771e;
  font-family: "Fredericka the Great", cursive !important;


}
.description-experience{
  color:  #907b79;
  font-family: 'Righteous', cursive;

}

.react {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  text-shadow: 0 0 15px #b6b4b2;
  box-shadow: 0 0 15px rgba(15, 15, 15, 0.5);
}

.imghtml {
  height: 100%;
  width: 100%;
}
/* .react:before{
  content: '';
  position:absolute;
  top: 0;
  left:0;
  width: 100% ;
  height: 100%;
  border: 2px solid transparent;
  border-top: 2px solid #252518;
  border-right: 2px solid #111005;
  border-radius: 50%;
  animation: animateCircle 14s linear infinite;
} */

.react span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: transparent;
  transform-origin: left;
  animation: animate 14s linear infinite;
}

.react span:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #310101;
  top: -10px;
  right: 78px;
  box-shadow: 0 0 20px #dbd581;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

:root {
  --mainBlue: #032b53;
  --lightBlue: #007bff;
  --mainWhite: #f3f3f3;
  --mainVsBlue: #1827fa;
  --mainYellow: #ffc107;
  --Yellow: #aa9107;

  --mainOrange: #fd7e14;
  --mainRed: #e75555;
  --redLight: #ff1717;
  --lightGreen: #18c03f;
  --Green: #094914;
  --vscGrey: #5d6b6b;
  --darkVscode: #13191f;
  --idVscode: #21282e;
  --mainPurple: #fa00a7;
}

.contact-right-col {
  border-left: 0.5px solid #424446;
  border-right: 0.5px solid #424446;
  font-family: "Roboto Mono", monospace !important;
}

.vscode-mainDark {
  color: var(--mainVsBlue);
}

.vscode-lightGreen {
  color: var(--lightGreen);
}
.vscode-Green {
  color: var(--Green);
}

.vscode-vscGrey {
  color: var(--vscGrey);
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Black Ops One', cursive !important; */
  font-family: "Codystar", cursive;
}

.vscode-Yellow {
  color: var(--Yellow);
}

.vscode-mainRed {
  color: var(--mainRed);
  /* font-family: 'Black Ops One', cursive; */
  font-family: "Codystar", cursive;
}

.vscode-redLight {
  color: var(--redLight);
}

.vscode-mainPurple {
  color: var(--mainPurple);
}

.vscode-lightGreen {
  color: var(--lightGreen);
  font-family: "Codystar", cursive;
  font-weight: bold;
}

.vscode-mainYellow {
  color: var(--mainYellow);
  font-weight: bold;
}

.vscode-mainVsBlue {
  color: var(--mainVsBlue);
  font-weight: bold;
}

.number-resume {
  margin-left: 60px;
  font-family: "Roboto Mono", monospace !important;
  color: white !important;
  margin-top: 19px;
}

.number-resume li {
  color: var(--mainBlue) !important;
  margin-left: 10px;
  margin-right: 15px;
}
.identify {
  margin-top: 20px;
}

.contact {
  background-color: var(--darkVscode) !important;

  color: var(--mainYellow);
}


/*-------Id---------*/

.id {
  display: flex;
  border: 4px solid var(--idVscode);
  background-color: var(--darkVscode);
  height: 20px;
  width: 110px;
  margin: -15px 0px;
}
.id-img-contact {
  height: 12px;
  width: 12px;
  margin-top: -5px;
}

.id:hover {
  background-color: var(--idVscode);
}
.id-contact {
  color: var(--vscGrey);
  font-size: 10px;
  align-items: center;
  margin-top: 0px;
  margin-left: 5px;
}
.id-contact:hover {
  color: var(--mainWhite);
}

.id-contact-icon {
  color: var(--vscGrey);
  margin-right: 3px;
  font-size: 10px;
  margin-left: 3px;
  margin-top: 0px;
}
.id-contact-icon:hover {
  color: var(--mainWhite);
}
